# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv
.env
*.db

# VSCode
.vscode/
.idea/
/package.json
/pnpm-lock.yaml
/node_modules/
/logs/

# docs
docs/node_modules
docs/package-lock.json
docs/pnpm-lock.yaml