/* 页面基本样式 */
body, .app {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

em {
    color: #f2c55c;
}

/* 侧边栏样式 */
.sidebar {
    background-color: var(--color-primary);
    display: flex;
    width: 200px;
    padding: 10px;
    transition: width 0.3s ease, background-color 0.5s ease;
}

.sidebar-container {
    background-color: var(--color-secondary);
    width: 90%;
    height: 87%;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

/* 主要内容样式 */
.main {
    background-color: var(--color-primary);
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    transition: width 0.3s ease, left 0.3s ease, background-color 0.5s ease;
}

.header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 50px;
    margin: 8px 0;
    transition: background-color 0.5s ease;
}

.platforms-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 音乐平台样式 */
.music-platform {
    width: 80px;
    padding: 5px;
    color: var(--text-secondary);
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: font-size 0.3s ease, background-color 0.5s ease, width 0.3s ease, font-weight 0.3s ease;
}

.music-platform:hover, .selected {
    color: var(--text-primary);
    font-size: 30px;
    font-weight: bold;
    background-color: var(--color-secondary);
    width: 150px;
    box-shadow: 0 2px 0 var(--text-primary);
}

/* 内容区域样式 */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.music-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    height: 5vh;
    background-color: var(--color-primary);
    color: var(--text-secondary);
    user-select: none;
    transition: background-color 0.5s ease;
}

.music-container:hover {
    background-color: var(--color-secondary);
}

.music-container-left {
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.music-cover {
    width: 5vh;
    height: 5vh;
}

.music-container-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.music-name {
    display: flex;
    flex-direction: column;
    height: 5vh;
    margin: 0 20px;
}

/* 标签样式 */
.tag-vip, .tag-mv {
    color: white;
    border-radius: 1.25vh;
    width: 40px;
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vh;
    margin: 0.2vh;
}

.tag-vip {
    background-color: #dd1f20;
}

.tag-mv {
    background-color: #ffaf0f;
}

/* 标题样式 */
.title {
    background-color: var(--color-primary);
    height: 60px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.3s ease, background-color 0.5s ease;
}

.title:hover {
    box-shadow: 0 0 10px var(--shadow);
}

/* 图片样式 */
img {
    border-radius: 5px;
}
/* 设置页脚样式 */
.footer {
    margin: 0 10px;
    height: 100px;
    border-radius: 10px;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 10px;
    background-color: rgba(var(--color-primary-rgb), 0.8);
    backdrop-filter: blur(10px);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 10px var(--shadow);
    transition: height 0.3s ease, background-color 0.5s ease;
}

.footer-full-height {
    height: 98%;
}

.footer-button-fold {
    transform: rotate(-180deg);
}

/* 页脚左侧和右侧样式 */
.footer-left, .footer-right {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}